body{
    background-color: rgb(202, 202, 176);
}
.virsraksts{
    text-align: center;
    color: black;
}
.ramis{
    width: 30%;
    height: 85%;
    background-color:rgb(195, 186, 200);
    position: absolute;
    margin-left: 7%;
}
.ramis1{
    width: 90%;
    height: 93%;
    background-color:rgb(255, 255, 255);
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
}
.teksts1{
    font-size: small;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    left: 7%;
}
.teksts{
    font-size: large;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    left: 7%;
}
.attēls{
    background-image: url("../img/klase.jpeg");
    width: 700px;
    height: 545px;
    background-size: cover;
    position: absolute;
    margin-left: 45%;
    margin-top: 3%;
}